<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285342174001-lus0e0bt7kfjue685s5mract1k0akq77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285342174001-lus0e0bt7kfjue685s5mract1k0akq77</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285342174001-34rjcb0s8c25o82em6bhlha6m227rl7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcwo_bt5Q4uo23QK4e6nlR7nCWDYiPD00</string>
	<key>GCM_SENDER_ID</key>
	<string>285342174001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.landWiki.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smallapps-da23c</string>
	<key>STORAGE_BUCKET</key>
	<string>smallapps-da23c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285342174001:ios:bfd25865f93cbda6757e10</string>
</dict>
</plist>